@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', 'sans-serif';
    line-height: 1.6;
}

#page-wrapper {
    width: 80%;
    margin: 0 auto;
}

#header {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar ul{
    display: flex;
}

#nav-bar ul li{
    margin-left: 2rem;
}

#nav-bar ul li a{
    color: #111;
}

#header-img {
    width: 15rem;
    margin-left: -1rem;
}

@media screen and (max-width: 650px) {
    header {
        flex-direction: column;
    }

    #nav-bar ul {
        display: block;
        text-align: center;
    }
    #header-img {
        margin: 1rem 0;
        text-align: center;
    }
}

.form {
    text-align: center;
    margin: 2rem auto;
}

#email {
    padding: .3rem;
    display: block;
    margin: .9rem auto;
    width: 300px;
}

#submit {
    width: 200px;
    height: 30px;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-weight: bold;
    background: yellow;
    border-radius: 5px;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 1rem;
}

.card h2 {
    font-size: 2rem;
    font-weight: bold;
}

.card p {
    font-size: 1rem;
}



@media screen and (max-width: 650px) {
    .features {
        flex-direction: column;
    }
    .features-text {
        margin: 0;
        text-align: center; 
    }
}

#how-it-works {
    text-align: center;
    margin: 5rem 0;
}

#pricing {
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: repeat(3, 300px);
    margin-bottom: 5rem;
}

.card-two{
    text-align: center;
    line-height: 2.5;
    border: 1px solid #111;
}

#pricing h2 {
    background: #ddd;  
}

.card-two strong {
    font-weight: bold;
    font-size: 1.5rem;
}

.card-two button {
    border: none;
    background: #f1c53e;
    display: block;
    width: 150px;
    height: 30px;
    margin: 1rem auto;
    text-transform: uppercase;
    color: #111;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 1rem;
    
}

footer {
    background: #ddd;
    text-align: end;
    padding: 1rem .5rem;
}

footer ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 1.5left;
}

footer ul li a{
    color: #111;
}

footer p {
    opacity: 0.6;
    color: #333;
}

